- name: Запись в файл
  run: |
    # Принудительно создаем файл если его нет
    if [ ! -f mood_diary.txt ]; then
      echo "Создаю файл..."
      echo "ДНЕВНИК НАСТРОЕНИЯ" > mood_diary.txt
      echo "" >> mood_diary.txt
    fi
    
    DATE=$(date +'%Y-%m-%d')
    echo "$DATE: -----------------------" >> mood_diary.txt
    echo "Добавлена строка: $DATE"
